* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.img{
    float:left;
    margin: 0 20px 10px 0;
}
.text {
}
div {
    display: inline-block;
}
.header{

}
.text{
    margin: 0 0 0 0;
}
.copiritingp{
    text-align: center;
}
.manu {

}
.futer {

}